Source: linux-kernel-gxde-loong64
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/linux-kernel-gxde-loong64

Package: linux-kernel-gxde-i386
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-686,
 linux-headers-686,
Description: GXDE Kernel For i386

Package: linux-kernel-oldstable-gxde-i386
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.1.0-25-686,
 linux-headers-6.1.0-25-686,
Description: GXDE Kernel For i386

Package: linux-kernel-gxde-amd64
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-amd64,
 linux-headers-amd64,
Description: GXDE Kernel For amd64

Package: linux-kernel-oldstable-gxde-amd64
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.1.0-25-amd64,
 linux-headers-6.1.0-25-amd64,
Description: GXDE Kernel For amd64

Package: linux-kernel-gxde-arm64
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-headers-5.10.0-arm64-desktop,
 linux-image-5.10.0-arm64-desktop
Description: GXDE Kernel For arm64

Package: linux-kernel-gxde-loong64
Architecture: loong64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.10.4-loong64-4k-pagesize-gxde-desktop+,
 linux-headers-6.10.4-loong64-4k-pagesize-gxde-desktop+
Description: GXDE Kernel For loong64
