Source: linux-kernel-gxde
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/linux-kernel-gxde

Package: linux-kernel-gxde-i386
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-686,
 linux-headers-686,
Description: GXDE Kernel For i386

Package: linux-kernel-oldstable-gxde-i386
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.1.0-25-686,
 linux-headers-6.1.0-25-686,
Description: GXDE Kernel For i386

Package: linux-kernel-gxde-amd64
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-amd64,
 linux-headers-amd64,
Description: GXDE Kernel For amd64

Package: linux-kernel-oldstable-gxde-amd64
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.1.0-25-amd64,
 linux-headers-6.1.0-25-amd64,
Description: GXDE Kernel For amd64

Package: linux-kernel-gxde-arm64
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-headers-6.11.3-gxde-hwe-hisilicon,
 linux-image-6.11.3-gxde-hwe-hisilicon,
Description: GXDE Kernel For arm64

Package: linux-kernel-oldstable-gxde-arm64
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-arm64,
 linux-headers-arm64,
Description: GXDE Kernel For arm64 (debian)

Package: linux-kernel-phytium-gxde-arm64
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-headers-5.4.18-99,
 linux-headers-5.4.18-99-generic,
 linux-image-5.4.18-99-generic,
 linux-modules-5.4.18-99-generic
Description: GXDE Kernel For phytium (debian)

Package: linux-kernel-armbian-gxde-arm64
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-dtb-current-arm64,
 linux-headers-current-arm64
Description: GXDE Kernel For phytium (debian)

Package: linux-kernel-gxde-mips64el
Architecture: mips64el
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-loongson-3,
 linux-headers-loongson-3
Description: GXDE Kernel For mips64el

Package: linux-kernel-oldstable-gxde-mips64el
Architecture: mips64el
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-headers-4.19.0-loongson-3-desktop,
 inux-image-4.19.0-loongson-3-desktop
Description: GXDE Kernel For mips64el

Package: linux-kernel-gxde-loong64
Architecture: loong64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-loong64,
 linux-headers-loong64
Description: GXDE Kernel For loong64
